* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: burlywood;
}
header {
    padding: 5px 0;
    padding-bottom:0;
}
body>* {
    margin: 0 max(5px, calc((100vw - 1300px) / 2));
    /*max-width: 1300px;*/
}
.tab {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: -100px;
    padding: 8px;
    font-weight: bold;
    border-style:solid ;
    border-color: #87adde;
    border-width:3px;
    display:inline-flex;
    align-items: center;
    flex-direction: row;
}
button {
    background-color: white;
    font-weight: bold;
    border: none
}
button:hover {
    color:#87adde;
    cursor: pointer;
}
.active-tab {
    border-bottom-color:white;
}
.tab>a {
    margin-left: 3px;
}
.tab>a:hover {
    color: #87adde
}
.toast {
    position: absolute;
    height: 0;
    width: 0;
}
.toast-inner {
    background-color: #333;
    color: #fff;
    position: relative;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: max-content;
    transition: left 0.5s ease-in-out;
    bottom: -30px;
    left: -1000px;
}

/* Position the toast at the bottom of the screen when visible */
.toast-inner.show{
    left: 10px;
}

/* #adobe-dc-view {
    height: 130vw we have to set this programmatically when it launches
} */

footer>a{
    text-align: center;
    padding: 5px;
    text-decoration: underline ;
    color: darkblue;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}